<div class="d-flex justify-content-between">
    <h1 class="commanHeading">Configure Opportunity Cron :<b>
        </b></h1>
</div>
<div class="card cextend">
    <div class="body table-responsive">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Cron Name</th>
                    <th>Default Proxy Provider</th>
                    <th>Alternate Provider List</th>
                    <th style="width:70px">Cron Time</th>
                    <th style="width:110px">Cron Time Unit</th>
                    <th style="width:65px">Offset</th>
                    <th style="width:88px">Eligible Products</th>
                    <th>Last Modified By</th>
                    <th>Last Modified On</th>
                    <th style="text-align: left;">Cron On/Off</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    class="<%=settings.opportunity.ThresholdReached==true ? 'threshold':(settings.opportunity.CloseToThresholdReached==true?'closeThreshold':"")%>">
                    <td>
                        <input type="text" class="form-control form-pad" value="<%= settings.opportunity.CronName %>"
                            name="cron_name_opportunity" placeholder="Cron Name" readonly />
                    </td>
                    <td>
                        <select class="form-select form-control form-pad" name="proxy_provider_opportunity"
                            aria-label="Default select example" disabled title="<%= settings.opportunity.ProxyProvider_Name %>">
                            <% configItems.forEach(function(configItem) { %>
                                <option value="<%=configItem.proxyProvider%>" <%=configItem.proxyProvider == settings.opportunity.ProxyProvider ? "selected" : "" %>>
                                    <%=configItem.proxyProviderName%><%= configItem.method ? ' - ' + configItem.method : '' %>
                                </option>
                            <% }); %>
                        </select>
                    </td>
                    <td>
                        <select class="form-select form-control form-pad" name="proxy_provider_opportunity_alternate_1"
                            aria-label="Default select example" disabled title="<%= settings.opportunity.ProxyProvider_1_Name %>">
                            <% configItems.forEach(function(configItem) { %>
                                <option value="<%=configItem.proxyProvider%>" <%=configItem.proxyProvider == settings.opportunity.ProxyProvider_1 ? "selected" : "" %>>
                                    <%=configItem.proxyProviderName%><%= configItem.method ? ' - ' + configItem.method : '' %>
                                </option>
                            <% }); %>
                        </select>
                        <br />
                        <select class="form-select form-control form-pad" name="proxy_provider_opportunity_alternate_2"
                            aria-label="Default select example" disabled title="<%= settings.opportunity.ProxyProvider_2_Name %>">
                            <% configItems.forEach(function(configItem) { %>
                                <option value="<%=configItem.proxyProvider%>" <%=configItem.proxyProvider == settings.opportunity.ProxyProvider_2 ? "selected" : "" %>>
                                    <%=configItem.proxyProviderName%><%= configItem.method ? ' - ' + configItem.method : '' %>
                                </option>
                            <% }); %>
                        </select>
                        <br />
                        <select class="form-select form-control form-pad" name="proxy_provider_opportunity_alternate_3"
                            aria-label="Default select example" disabled title="<%= settings.opportunity.ProxyProvider_3_Name %>">
                            <% configItems.forEach(function(configItem) { %>
                                <option value="<%=configItem.proxyProvider%>" <%=configItem.proxyProvider == settings.opportunity.ProxyProvider_3 ? "selected" : "" %>>
                                    <%=configItem.proxyProviderName%><%= configItem.method ? ' - ' + configItem.method : '' %>
                                </option>
                            <% }); %>
                        </select>
                        <br />
                        <select class="form-select form-control form-pad" name="proxy_provider_opportunity_alternate_4"
                            aria-label="Default select example" disabled title="<%= settings.opportunity.ProxyProvider_4_Name %>">
                            <% configItems.forEach(function(configItem) { %>
                                <option value="<%=configItem.proxyProvider%>" <%=configItem.proxyProvider==settings.opportunity.ProxyProvider_4
                                    ? "selected" : "" %>>
                                    <%=configItem.proxyProviderName%>
                                        <%= configItem.method ? ' - ' + configItem.method : '' %>
                                </option>
                                <% }); %>
                        </select>
                        <br />
                        <select class="form-select form-control form-pad" name="proxy_provider_opportunity_alternate_5"
                            aria-label="Default select example" disabled title="<%= settings.opportunity.ProxyProvider_5_Name %>">
                            <% configItems.forEach(function(configItem) { %>
                                <option value="<%=configItem.proxyProvider%>" <%=configItem.proxyProvider==settings.opportunity.ProxyProvider_5
                                    ? "selected" : "" %>>
                                    <%=configItem.proxyProviderName%>
                                        <%= configItem.method ? ' - ' + configItem.method : '' %>
                                </option>
                                <% }); %>
                        </select>
                        <br />
                        <select class="form-select form-control form-pad" name="proxy_provider_opportunity_alternate_6"
                            aria-label="Default select example" disabled title="<%= settings.opportunity.ProxyProvider_6_Name %>">
                            <% configItems.forEach(function(configItem) { %>
                                <option value="<%=configItem.proxyProvider%>" <%=configItem.proxyProvider==settings.opportunity.ProxyProvider_6
                                    ? "selected" : "" %>>
                                    <%=configItem.proxyProviderName%>
                                        <%= configItem.method ? ' - ' + configItem.method : '' %>
                                </option>
                                <% }); %>
                        </select>
                        <br />
                    </td>
                    <td>
                        <input type="number" class="form-control no-spinner form-pad"
                            value="<%= settings.opportunity.CronTime %>" name="cron_time_opportunity" placeholder="Cron Time"
                            readonly />
                    </td>
                    <td>
                        <select class="form-select form-control form-pad" name="cron_time_unit_opportunity"
                            aria-label="Default select example" disabled>
                            <option <%=settings.opportunity.CronTimeUnit=="sec" ? "selected" : "" %>
                                value="sec">Seconds</option>
                            <option <%=settings.opportunity.CronTimeUnit=="min" ? "selected" : "" %>
                                value="min">Minutes</option>
                            <option <%=settings.opportunity.CronTimeUnit=="hours" ? "selected" : "" %>
                                value="hours">Hours</option>
                            <option <%=settings.opportunity.CronTimeUnit=="days" ? "selected" : "" %>
                                value="days">Days</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control form-pad" value="<%= settings.opportunity.Offset %>"
                            name="offset_opportunity" placeholder="Offset" readonly />
                    </td>
                    <td>
                        <input type="text" class="form-control form-pad"
                            value="<%= settings.opportunity.EligibleProductsCount %>" name="eligible_cron_products_opportunity"
                            placeholder="Eligible Cron Products" readonly />
                    </td>
                    <td>
                        <%= settings.opportunity.lastUpdatedBy %>
                    </td>
                    <td>
                        <%= settings.opportunity.lastUpdatedOn %>
                    </td>
                    <td>
                        <a onClick="startOpportunityCron('<%= settings.opportunity.CronName %>')"
                            class="<%= settings.opportunity.IsActive==true? 'btn btn-success mx-1 d-none':'btn btn-success mx-1'%>"
                            name="btn_submit_on_all" style="color: antiquewhite;float:left;"><i
                                class="fa-solid fa-play"></i>
                            &nbsp;Start</a>
                        <a onClick="stopOpportunityCron('<%= settings.opportunity.CronName %>')"
                            class="<%= settings.opportunity.IsActive==true? 'btn btn-danger mx-1':'btn btn-success mx-1 d-none'%>"
                            name="btn_submit_off_All" style="color: antiquewhite;float: left;"><i
                                class="fa-solid fa-stop"></i>
                            &nbsp;Stop</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<style>
    .cextend .body {
        padding: 5px !important;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinner[type=number] {
        -moz-appearance: textfield;
    }

    .form-pad {
        padding: .35rem 0.50rem;
    }
</style>
