<%- include('../header') %>
<%- include('../left-sidebar') %>

<body>
  <div class="page">
    <div class="container-fluid"><%- include('partials/_debug.ejs') %></div>
    <div class="container-fluid">
      <%- include('partials/_scrapeFailedReport.ejs') %>
    </div>
  </div>
</body>

<%- include("../footer"); %>
